.hero-body {
	background: url(../images/artificial-intelligence-sound-turing_desk.jpg);
	background-attachment: fixed;
  	/*background-size: contain; */
  	    background-repeat-y: no-repeat;

}
@media (max-width: 767px) {
	.hero-body {
		background: url(../images/artificial-intelligence-sound-turing_mob.jpg);
		background-attachment: fixed;
  		background-size: contain; 
  		overflow-y: scroll ;
  	padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 300px;    
	}
}

.image img {
    margin-top: 35px;
}
@media (max-width: 767px) {
   .image img {
    margin-top: 16px;
	}
}

.section-image {
opacity: 0.7;
}
@media (max-width: 767px) {
.section-image {
	display: none;
	}
}


.landing-caption {
	-webkit-text-fill-color: #c2f0ff;
	font-style: oblique;
}
@media (min-width: 768px) {
	.landing-caption {
    	margin-bottom: 450px;
 	}
 } 

.hero.is-fullheight {
    opacity: 0.909;
}

.container {
    position: unset;
}

.banners  {
	margin: 10px;
	opacity: 0.9;
}

.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 3rem;
}

