{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}

<footer class="footer footer-dark" id="footer">
  <div class="container">
    <div class="columns">

      <div class="column is-5 is-offset-0" style="margin-bottom: 20px;">
       <h3>Get in touch and let's make something great together.</h3>
        <i class="fa fa-envelope"> &nbsp; </i><a href="mailto:osolko@icloud.com" style="font-size: larger;">osolko@icloud.com</a>
      </div>

      <!-- banners -->
      <div class="column is-5">
        
        <a href="http://www.fiverr.com/s2/fb857c724b" class="banners"><img class="lazy" data-src="images/banners/fiverr-logo.png" alt="productiontrax" width="75" height="75" ></a>

        <a href="https://www.pond5.com?ref=Savolko" class="banners"><img class="lazy" data-src="images/banners/pond5-logo.png" alt="Music Stock" width="120" height="100" ></a>
         
        <a href="http://luckstock.com/?ref=Savka_Oleg" class="banners"><img class="lazy" data-src="images/banners/luckstock_260x120_v1.png" alt="luckstock" width="130" height="60" ></a>

        <div class="nic">
         <a target="_blank" href="https://nic.ua/uk/signup/turrkmto"><img class="lazy" data-src="https://nic.ua/assets/i/referral/btn-green-ukr.png" alt="За підтримки NIC.UA" id="nic"></a>
        </div>
      </div><!-- end banners -->

      <div class="column is-2 is-offset-0">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Follow Me</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }} fa-lg"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
